{% extends 'movies/base.html' %}

{% block content %}
<h1 class="mb-4">영화 상세 페이지</h1>

<div class="card">
  <div class="card-body">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.description }}</p>
    <p><strong>감독:</strong> {{ movie.director }}</p>

    <a href="{% url 'movies:update' movie.pk %}" class="btn btn-warning">UPDATE</a>

    <form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display:inline;">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">DELETE</button>
    </form>

    <hr>
    <a href="{% url 'movies:index' %}" class="btn btn-primary">BACK</a>
  </div>
</div>
{% endblock content %}